{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>
    <div class="container">
        
        <div class="header2"></div>
        <div class="header3"></div>
    </div>
    <div style="text-align: right;">
        <p>عزيزي المستخدم</p>
        
    </div>
    
</body>
</html>